@charset "UTF-8";

body {
  color: #222;
  font-family: sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p,
ul,
figure {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  line-height: 1.8;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  filter: brightness(90%) contrast(120%);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.w-container {
  /* width:375px=345px out 15px */
  width: min(92%, 1166px);
  margin: auto;
}

/* back-ground-decor */
.imgBox {
  background: linear-gradient(
    to bottom,
    #1e5799 0%,
    #2989d8 50%,
    #207cca 50%,
    #7db9e8 100%
  );
  width: 100%;
  height: 90px;
}

.fadeIn_right {
  transform: translate(50%, 0);
  transition: 2s;
  bottom: 0;
  left: 0;
  clip-path: polygon(100% 70%, 0 100%, 100% 100%);
  opacity: 0.8;
  overflow: hidden;
}
.fadeIn_right.is-show {
  transform: translate(0, 0);
  opacity: 1;
}

.fadeIn_left {
  opacity: 0;
  transform: translate(-50%, 0);
  transition: 5s;
  top: 0;
  left: 0;
  clip-path: polygon(100% 0, 0 0, 0 30%);
  opacity: 0.8;
  overflow: hidden;
}
.fadeIn_left.is-show {
  transform: translate(0, 0);
  opacity: 1;
}

/* ------------------ */

/* header */
.header {
  height: 112px;
  background-color: #fff;
}

.header {
  position: sticky;
  top: 0;
  z-index: 10;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

/* nav-button */
.navbtn {
  padding: 0;
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;
  color: #aaa;
  font-size: 30px;
}

.open .navbtn {
  z-index: 110;
  color: #fff;
}

.navbtn .fa-bars {
  display: revert;
}
.open .navbtn .fa-bars {
  display: none;
}

.navbtn .fa-xmark {
  display: none;
}
.open .navbtn .fa-xmark {
  display: revert;
}

@media (min-width: 768px) {
  .navbtn {
    display: none;
  }
}

/* nav-menu */
@media (max-width: 767px) {
  .nav {
    position: fixed;
    inset: 0 100% 0 -100%;
    z-index: 100;
    background-color: #4e483ae6;
    transition: transform 0.3s;
  }

  .nav ul {
    /* padding-top: 90px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 40px;
    color: #fff;
  }

  .drawer__nav.active {
    transform: translate(100%, 0);
  }
}

@media (min-width: 768px) {
  .nav ul {
    display: flex;
    height: auto;
    gap: 20px;
    color: #707070;
    font-weight: 400;
    cursor: pointer;
  }
}
/* ------------ */

.hero {
  height: 650px;
  /* background-image: url(../img/hero-img.png); */
  background-position: center;
  background-size: cover;
  opacity: 0.8;
  overflow: hidden;
}
@media (min-width: 768px) {
  .hero {
    /* 9vw=pc1366px~120 */
    padding: 120px 0;
    height: auto;
  }
}
/* .hero-container {
  display: grid;
  align-content: center;
  justify-items: center;
  height: 100%;
} */

.hero-heading ul {
  align-items: center;
}

.hero-container img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.hero h1.tlt {
  padding-top: 42px;
  margin-bottom: 42px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  /* font-size: 375=48px 1334=68px; */
  font-size: clamp(48px, 5vw, 68px);
  min-height: 0vw;
  font-weight: 400;
  text-align: center;
  text-shadow: 0 0 6px #000052;
}

.hero p {
  font-weight: bold;
  text-align: center;
  background-color: #fff;
  padding: 1em;
  margin-bottom: 72px;
  opacity: 0.6;
}

.hero {
  position: relative;
}

/* .hero .bgd.triangle01 {
  position: absolute;
  overflow: hidden;
} */

/* news */
.news {
  /* 9vw=pc1366px~120 */
  background-color: #fff;
  overflow: hidden;
}
@media (min-width: 768px) {
  .news {
    /* 9vw=pc1366px~120 */
    height: auto;
  }
}

.news {
  position: relative;
}

/* .news .bgd.triangle02,
.news .bgd.triangle01 {
  position: absolute;
  display: block;
  overflow: hidden;
} */

.heading-decoration {
  /* font-size: width1000=30px 1334=40px; 
   30÷1366×100 3vh*/
  font-size: clamp(30px, 3vw, 40px);
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin-top: 40px;
}

.heading-decoration::after {
  display: block;
  content: "";
  width: 100px;
  height: 0;
  border-top: 1px solid #0c4da2;
  margin-top: 0.6rem;
}

.heading-decoration + p {
  margin-top: 1em;
  margin-bottom: 2em;
  color: #707070;
  font-size: 18px;
}

.news-heading .deco {
  background-color: #0c4da2;
  color: #fff;
  font-weight: 400;
  text-align: center;
  font-size: 18px;
}

.news-container {
  display: flex;
  flex-direction: column;
  gap: clamp(45px, 6vw, 80px);
}
@media (min-width: 768px) {
  .news-container {
    flex-direction: row;
    align-items: center;
  }
  .news-heading {
    flex: 1;
    min-width: 17em;
  }
  .news-body {
    padding: 0 40px;
    flex: 2;
  }
}

/* news-inner */
.news-body {
  height: 350px;
  overflow-x: scroll;
  margin-top: 2em;
}

.detail:not(:last-child) {
  margin-bottom: 67px;
}

.detail figure {
  margin-bottom: 2em;
}

.detail img {
  width: 100%;
  /* min200 max393 */
  height: 200px;
  object-fit: contain;
}

.detail h3 {
  color: #222;
  /* ------- */
  font-size: 20px;
  margin-bottom: 1em;
}

.detail p {
  font-size: 12px;
  line-height: 2;
  margin-bottom: 1em;
}

.detail .btn {
  display: block;
  width: 208px;
  padding: 11px 11px 13px;
  box-sizing: border-box;
  border: solid 2px #0c4da2;
  margin: auto;
  text-align: center;
  border-radius: 24px;
}

/* profile */
.profile {
  padding-bottom: 0;
  background-color: #fff;
  height: auto;
  overflow: hidden;
}
@media (min-width: 768px) {
  .profile {
    /* 9vw=pc1366px~120 */
    height: auto;
  }
}

.profile {
  position: relative;
}

/* .profile .bgd.triangle02,
.profile .bgd.triangle01 {
  position: absolute;
  overflow: hidden;
} */

.profile figure {
  margin-top: 1em;
  margin-bottom: 2em;
}

.profile figure img {
  width: 100%;
  height: 400px;
  object-fit: contain;
}

.profile-container {
  display: flex;
  flex-direction: column;
  gap: clamp(45px, 6vw, 80px);
}
@media (min-width: 768px) {
  .profile-container {
    flex-direction: row-reverse;
    align-items: center;
  }
  .profile-heading {
    flex: 1;
    min-width: 17em;
  }
  .profile-body {
    padding: 0 40px;
    flex: 2;
  }
}

.heading-decoration + figure {
  margin-top: 1em;
  margin-bottom: 2em;
}

.profile h3 {
  color: #222;
  /* ------- */
  font-size: 20px;
  margin-bottom: 1em;
}

.dob {
  margin-bottom: 1em;
  color: #707070;
}

.career {
  color: #707070;
}

/* information */
.information {
  padding: 90px 0;
  background: #f18d1d;
  height: auto;
  overflow: hidden;
}
@media (min-width: 768px) {
  .information {
    /* 9vw=pc1366px~120 */
    padding: 120px 0;
    height: auto;
  }
}

.information {
  position: relative;
}

/* .information .bgd.triangle02,
.information .bgd.triangle01 {
  position: absolute;
  overflow: hidden;
} */

.information-container {
  display: flex;
  flex-direction: column;
  gap: clamp(45px, 6vw, 80px);
}
@media (min-width: 768px) {
  .information-container {
    flex-direction: row;
    align-items: center;
  }
  .information-heading {
    flex: 1;
    min-width: 17em;
  }
  .information-body {
    padding: 0 40px;
    flex: 2;
  }
}

.information-heading {
  position: relative;
}

.slogan-title {
  margin-bottom: 2em;
}

.information img {
  background-color: #fff;
}

.slogan {
  margin: 1em 0;
  display: flex;
  align-items: center;
}

.slogan figure {
  margin-right: 10px;
  line-height: 1;
  flex: 0 0 60px;
}

.slogan p {
  color: #fff;
  font-size: 14px;
}
@media (min-width: 768px) {
  .slogan p {
    color: #fff;
    font-size: 16px;
  }
}

.information .deco {
  background-color: #0c4da2;
  color: #fff;
  font-weight: 400;
  text-align: center;
  font-size: 18px;
  margin-top: 2em;
}

.com-wrapper {
  height: 350px;
  overflow-x: auto;
  margin-top: 2em;
}
@media (min-width: 768px) {
  .com-wrapper {
    display: flex;
    justify-content: center;
  }
}

.com figure {
  margin-bottom: 2em;
}

.com img {
  width: 100%;
  /* min200 max393 */
  height: 300px;
  object-fit: contain;
}

.com .com-title {
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  color: #222;
}

/* access */
.access {
  background-color: #fff;
  height: auto;
  overflow: hidden;
}
@media (min-width: 768px) {
  .access {
    /* 9vw=pc1366px~120 */
    height: auto;
  }
}

.access {
  position: relative;
}

/* .access .bgd.triangle02 {
  position: absolute;
  overflow: hidden;
} */

.access-container {
  display: flex;
  flex-direction: column;
  gap: clamp(45px, 6vw, 80px);
}
@media (min-width: 768px) {
  .access-container {
    flex-direction: row;
    align-items: center;
  }
  .access-heading {
    padding: 0 40px;
    flex: 2;
    min-width: 17em;
  }
  .access-body {
    flex: 2;
    min-width: 17em;
  }
}

.access iframe {
  padding-top: 20px;
}
@media (min-width: 768px) {
  .access iframe {
    padding-top: 40px;
  }
}

.add:not(:last-child) {
  margin-bottom: 67px;
}

.add figure {
  margin-bottom: 1em;
}

.add img {
  width: 100%;
  /* min200 max393 */
  height: 200px;
  object-fit: cover;
  margin-top: 1em;
}

/* sns */
.sns {
  padding: 0;
}

.sns {
  position: relative;
}

.sns-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
@media (min-width: 768px) {
  .sns-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 70px;
  }
}

.inner-item {
  width: 150px;
}
@media (min-width: 768px) {
  .inner-item {
    width: 200px;
  }
}

/* footer */
.footer {
  background-color: #0c4da2;
  padding: 1em 0;
}

.footer p {
  text-align: center;
  color: #fff;
}
